@model List<Reservation>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="content">

    <div class="container">
        <div class="table-responsive custom-table-responsive">
            <h1></h1>
            <a asp-action="Add" asp-controller="Room" class="btn btn-success">New Room</a>
        </div>
        <div class="table-responsive custom-table-responsive">

            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Room Photo</th>
                        <th scope="col">Review Id</th>
                        <th scope="col">Room Id</th>
                        <th scope="col">Type</th>
                        <th scope="col">Customer Id</th>
                        <th scope="col">CustomerName</th>
                        <th scope="col">DateOfArrival</th>
                        <th scope="col">DateOfDeparture</th>
                        <th scope="col">Detials</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr scope="row">
                            <td><img src="/img/Room/@item.Room.ImageUrl" style="width:65px"></img></td>
                            <td>@item.Id</td>
                            <td>@item.Room.Id</td>
                            <td>@item.Room.Type.ToString()</td>
                            <td>
                                @item.Customer.LastName @item.Customer.FirstName
                            </td>
                            <td>@item.Customer.Email</td>
                            <td>@item.DateOfArrival</td>
                            <td>@item.DateOfDeparture</td>
                            <td><a asp-action="Details" asp-controller="Room" asp-route-id="@item.Id" class="btn btn-info">Detials</a></td>
                            <td><a asp-action="Edit" asp-controller="Room" asp-route-id="@item.Id" class="btn btn-primary">Edit</a></td>
                            <td><a asp-action="Delete" asp-controller="Review" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>

</div>
@section Scripts {
    <script src="/Table/js/popper.min.js"></script>
    <script src="/Table/js/main.js"></script>
}