@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Staff
@{
}
<div class="card" style="width:250px">
    <img class="card-img-top" src="/img/Staff/@Model.ImageUrl" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">@Model.FirstName @Model.LastName</h4>
        <h5>Email</h5>
        <p class="card-text">@Model.Email </p>
        <h5>Phone</h5>
        <p class="card-text">@Model.Phone </p>
        <h5>Address</h5>
        <p class="card-text">@Model.Address </p>
        <h5>Job</h5>
        <p class="card-text">Model.JobName</p>
        <h5>Salary</h5>
        <p class="card-text">@Model.Salary DA</p>
    </div>
</div>